.positive-value {
	color: #00a65a;
}

.negative-value {
	color: #f56954;
}

/*React DatePicker changes*/
.react-datepicker-wrapper{
	width: 100%;
}

.react-datepicker__input-container{
    width: 100%;
    margin-bottom: -5px;  
}